.Card {
    text-align: center;
     padding: 0.8em 0.9em;/*文字の上下 左右の余白*/
  color: pink;/*文字色*/
  background: gray;/*背景色*/
  border-left: solid 2px gray;/*左線*/
  border-right: solid 2px gray;
  border-top: solid 2px gray;
  border-bottom: solid 2px gray;/*下線*/
  position: relative;
  background: -webkit-repeating-linear-gradient(-45deg, #00FFFF, #00FFFF 2px, #fff 2px, #fff 4px);
  background: #d8b2ff;
  border-radius: 5px;
}


.data {
width: 500px;
background-color: pink;
color: gray; 
}
